[build-system]
# PEP 508 specifications.
# Requiring `setuptools`>=65.5.1 because of https://pyup.io/v/52495/f17 (found by `safety`)
requires = ["setuptools>=65.5.1", "wheel"]   # PEP 508 specifications.
build-backend = "setuptools.build_meta"

[tool.black]
# Using Black with other tools
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#using-black-with-other-tools
line-length = 88  # default: 88

[tool.isort]
# Make it compatible with black
profile = "black"
extend_skip = [
    ".pytype",
]

[tool.pylint]
ignore-patterns = [
    "test_.*?py",
]

[tool.pylint.messages_control]
max-line-length = 88
disable = [
    "logging-fstring-interpolation",
    "import-error",
]

[tool.mypy]
# https://mypy.readthedocs.io/en/stable/config_file.html#using-a-pyproject-toml-file
ignore_missing_imports = true

[tool.pytype]
inputs = ['slo_generator']
