[build-system]
requires = ["setuptools>=42", "wheel"]   # PEP 508 specifications.
build-backend = "setuptools.build_meta"

[tool.black]
# Using Black with other tools
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#using-black-with-other-tools
line-length = 88  # default: 88

[tool.isort]
# Make it compatible with black
profile = "black"

[tool.pylint]
ignore-patterns = [
    "test_.*?py",
]

[tool.pylint.messages_control]
max-line-length = 88
disable = [
    "logging-fstring-interpolation",
    "import-error",
]
