name: build
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
      - name: Install deps
        run: >
          sudo apt-get install gcc libpq-dev -y &&
          sudo apt-get install python-dev python-pip -y &&
          sudo apt-get install python3-dev python3-pip python3-venv python3-wheel -y &&
          pip3 install -U wheel setuptools

      - name: Install package
        run: make install_test install

      - name: Run flake8 lint tests
        run: make flake8

      - name: Run pylint lint tests
        run: make pylint

      - name: Run unittests
        run: make unittest
        env:
          GOOGLE_APPLICATION_CREDENTIALS: tests/unit/fixtures/fake_credentials.json

      - name: Run coverage report
        run: make coverage_report
